body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #f00;
}
a {
  color: #00B7FF;
}
#app{
  font-size: 48px;
}
img{
  width: 120px;
  height: 120px;
  border:1px solid green;
  border-radius: 4px;
}