body {
  font-family: sans-serif; }
  body img {
    width: 160px;
    height: 160px;
    border-color: #f00;
    border-radius: 4px;
    transition: width 3s; }
  body img:hover {
    width: 360px; }
  body a {
    display: flex; }
