@import './var.scss';
/* common setting -----------------------------------*/
body, input, button{
  font-family: "Microsoft YaHei", sans-serif;
}
*{
  margin: 0;
  padding: 0;
}
a{
  color: $fontColor;
  text-decoration: none;
}
a:hover{
  // background-color: $activeColor;
  color: $green;
}
.clearfix:before, .clearfix:after{
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  zoom: 1;
}
