@import './var.scss';
/* common setting -----------------------------------*/
body{
  font-family: "Microsoft YaHei", sans-serif;
}
a{
  color: $fontColor;
  text-decoration: none;
}
a:hover{
  background-color: $activeColor;
  color: $whiteColor;
}
.clearfix:before, .clearfix:after{
  content: '';
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
  zoom: 1;
}
