/*
 * 定义css的变量
 */

//颜色 --------------------------------------------
$fontColor: #333;
$blackColor: #000;
$whiteColor: #fff;
$activeColor: #5bc1de;
$defaultColor: #34495e;
$defaultHoverColor: #cacfd2;
$defaultActiveColor: #a1a6a9;

$green: #1abc9c;

//button 颜色 -------------------------------------
