/*
 * 定义css的变量
 */

//颜色 --------------------------------------------
$fontColor: #333;
$blackColor: #000;
$white: #fff;
$activeColor: #5bc1de;
$defaultColor: #34495e;
$defaultHoverColor: #4E6C8D;
$defaultActiveColor: #2C3E50;

$primary: #1abc9c;
$primaryHover: #2EE3BF;
$primaryActive: #16A185;

$green: #1abc9c;

$default: $defaultColor;
$defaultHover: $defaultHoverColor;
$defaultActive: $defaultActiveColor;

//button 颜色 -------------------------------------


//width ------------------------------------------
$boxWidth: 1200px;
