/*
 * 定义css的变量
 */

//颜色 --------------------------------------------
$fontColor: #333;
$blackColor: #000;
$white: #fff;
$activeColor: #5bc1de;
$defaultColor: #34495e;
$defaultHoverColor: #4E6C8D;
$defaultActiveColor: #2C3E50;

$primary: #1abc9c;
$primaryHover: #2EE3BF;
$primaryActive: #16A185;

$warning: #f1c40f;
$warningHover: #F5D312;
$warningActive: #CDA70C;

$gray: #bdc3c7;
$grayHover: #CBCFD3;
$grayActive: #A1A7A9;

$danger: #e74c3c;
$dangerHover: #ED7062;
$dangerActive: #C54032;

$inverse: #34495e;
$inverseHover: #405A76;
$inverseActive: #2C3E50;

$info: #3498db;
$infoHover: #5CADE3;
$infoActive: #2C81BB;

$success: #2ecc71;
$successHover: #58D78D;
$successActive: #26AD60;

$disbaledColor: #bdc3c7;

$green: #1abc9c;

$default: $defaultColor;
$defaultHover: $defaultHoverColor;
$defaultActive: $defaultActiveColor;

//button 颜色 -------------------------------------


//width ------------------------------------------
$boxWidth: 1200px;
