body{
  color: red !important;
  background: url('../../assets/images/book.jpg') top left no-repeat;
}
#app{
  font-size: 12px !important;
}
.icon {
   width: 1em; height: 1em;
   vertical-align: -0.15em;
   fill: currentColor;
   overflow: hidden;
}
